.Bodytop1 {
    height: 132px;
}
.Bodytop2{
    height: 25px;
    background-color: #9a9a9a;
}
.Bodytop2-2{
    width: 385px;
    background-color: #9a9a9a;
    float: left;
}
.Bodytop2-3{
    width: 960px;
    background-color: #9a9a9a;
    margin-left: 25%;
    float: left;
}
.Bodytop3{
    height: 45%;
    width: 200px;
    background: url(../image/jdicon.png) no-repeat 0px 10px ;
    float: left;
    margin-left: 10%;
}
.Bodytop4{
    height: 43%;
    float: left;
    margin-left: 200px;
}
.Bodytop6{
    height: 30%;
    background-color: #B61D1D;
    margin-top: 65px;
}
.Bodytop_goods_all{
    width: 10%;
    height: 100%;
    color: white;
    margin-left: 11%;
    /*text-align: center;*/
    line-height: 45px;
    float: left;
}.Bodytop_goods_all2{
    height: 35px;
    background-color: #B61D1D;
    color: white;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-left: 115px;
}
.Bodyleft1{
    width: 288px;
    height: 41%;
    float: left;
    /*border: 1px solid red;*/
    margin-left: 192px;
    background-color:#B61D1D ;
    color: white;
    margin-top: 5px;
}
.Bodyright1{
    width: 1260px;
    margin-left: 40px;
    float: left;
}
.Bodyright1-2{
    width: 100%;
    height: 5%;
}
.Body_div_border .px{
    width: 50px;
    height: 20px;
    margin-top: 15px;
    float: left;
}
.Bodytop1 a{
    text-decoration: none;
    color:black;
    margin-top: 3px;
    float: left;
    margin-left: 10px;
}
.Bodytop_goods_all2 a b{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.Bodyleft1 a{
    display: block;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
    margin-top: 2px;
    /*text-align: center;*/
    height: 30px;
    line-height: 30px;
}
.Bodyleft1 a B{
    margin-left: 20px;
}
.Body_div_border{
    border: 1px solid #676767;
    height: 50px;
}
.Bodyright1 .Body_div_border2{
    background-color: #676767;
    opacity: 0.5;
    width: 15%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    float: left;
}.Bodyright1 .Body_div_border3{
    width: 85%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    float: left;
}
.Bodyright1 .Body_div_border .Body_div_border3 ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.Bodyright1 .Body_div_border .Body_div_border3 ul li{
    width: 16.5%;
    height: 100%;
    float: left;
    list-style-type: none;

}
.Bodyright1 .Body_div_border .Body_div_border3 ul li img{
    height: 100%;
    width: 136px;
    float: left;
    /*border: 1px solid #676767;*/
}
.Body_div_border4{
    border: 1px solid black;
    height: 50%;
    width: 100%;
}
a{
    text-decoration: none;
}
#aa{
    height: 100%;
    width: 80px;
    display: block;
    text-align: center;
}
td{
    border: 1px solid black;
}
.Bodyright1 .Body_div_border4 img{
    width: 175px;
    height: 180px;
}
.Bodyright1 .Body_div_border4 i,input{
    font-style: normal;
    font-size: x-small;
}
.Body_bottom{
    margin-left: 30%;
    text-decoration: none;
    height: 40px;
    margin-top: 20px;
}
.Body_bottom a{
    color: #777777;opacity: 0.5
}