<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment </title>
</head>
<body>
{% block header-menu %}
<ul >
    <li style="display: inline-block">Home</li>
    <li style="display: inline-block">page1</li>
    <li style="display: inline-block">page2</li>
    <li style="display: inline-block">page3</li>
</ul>
{% endblock %}

{% block content-container %}
<h1>Welcome to Oldboy shopping mall , payment center..</h1>
  {% include 'app01/register_com.html' %}
<ul>
    {% for user_obj in user_objs %}
        {#% if user_obj.username == 'alex3' %#}
        {% if forloop.counter|divisibleby:"2"  %}
            <li style="background-color: red">username:{{ user_obj.username }}, name:{{ user_obj.name }}</li>
        {% else %}
            <li style="">username:{{ user_obj.username }}, name:{{ user_obj.name }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
<footer>
    <p>Powered by Alex Li</p>
</footer>

</body>
</html>