.Bodytop1 {
    height: 125px;
    width: 100%;
    border:1px solid red;
}
.Bodytop2{
    height: 25px;
    width: 100%;
    background-color: #9a9a9a;
    opacity: 0.5;
}
.Bodytop3{
    height: 60px;
    width: 200px;
    background: url(jdicon.png) no-repeat 0px 10px ;
    float: left;
    margin-left: 10%;
}
.Bodytop4{
    height: 60px;
    /*width: 450px;*/
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}
.Bodytop6{
    height: 35px;
    width: 100%;
    background-color: #B61D1D;
    /*opacity: 0.5;*/
    margin-top: 65px;
}
.Bodytop_goods_all{
    width: 20%;
    height: 35px;
    background-color: #B61D1D;
    color: white;
    margin-left: 7%;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-top: -15px;
}.Bodytop_goods_all2{
    width: 30%;
    height: 35px;
    background-color: #B61D1D;
    color: white;
    margin-left: 3%;
    text-align: center;
    line-height: 35px;
    float: left;
    margin-top: -15px;
}
.Bodyleft1{
    width: 20%;
    height: 349px;
    border: 1px solid red;
    float: left;
    margin-left: 100px;
    background-color:#B61D1D ;
    color: white;
}
.Bodyright1{
    width: 60%;
    height: 500px;
    border: 1px solid red;
    margin-left: 40px;
    /*margin-top: 10px;*/
    float: left;
}
.Bodyright1-2{
    width: 100%;
    height: 5%;
    border-bottom: 2px solid  red;
}
.Bodytop1 a{
    text-decoration: none;
    color:black;
    /*margin: 0px;*/
    margin-top: 3px;
    float: left;
    margin-left: 10px;
}
.Bodytop_goods_all2 a{
    color: white;
    text-decoration: none;
}
.Bodyleft1 a{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid white;
    margin-top: 2px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
