{% extends 'base.html' %}
{% load custom %}
{% block page-container %}
    <div class="wrap-left">
    <div class="new-article-notify hide">
        <a href="{{ request.path }}">有<span>0</span>新消息</a>
    </div>
        {% for article in article_list reversed%}
            <div class="article-box row" id="{{ article.id }}">
                <div class="article-head-img col-md-4">
                    <img src="/static/{{ article.head_img | truncate_url }}" >
                </div>
                <div style="padding-left: 40px" class="article-brief col-md-8">
                    <a class="article-title" href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                    <div class="article-brief-info">
                        <span>
                            <img class="small_img" src="/static/{{ article.author.head_img | truncate_url }}">
                            {{ article.author.name }}
                        </span>
                        <span>{{ article.pub_date }}</span>
                        <span>{%  filter_comment article as comments %} </span>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        {{ comments.comment_count }}
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" onclick="gooklike()"></span>
                        {{ comments.thumb_count }}
                    </div>
                    <div class="article-brief-text">
                        <p>{{ article.brief }}</p>
                    </div>


                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="wrap-right">
    rithg
    </div>
    <div class="clear-both"></div>

{% endblock %}
{% block bottom-js %}
    <script>
    $(document).ready(function(){
        var new_article_re = setInterval(function(){
            var last_article_id = $($(".wrap-left").children()[1]).attr("id")
{#            $.get("{% url 'get_new_article_id' last_article_id %}")#}
            $.get("{% url 'get_new_article_count'%}",
                    {lastest_id:last_article_id},
                    function(callback){
                    if(parseInt(callback) > 0){
                        $(".new-article-notify").removeClass("hide");
                        $(".new-article-notify").children("span").text(callback)
                    }
            })
        },3000);//定时器
    })
    </script>
{% endblock %}
